openai
python-dotenv
langchain
keyboard
PyQt5
chromadb
google-search-results
pathlib
unstructured
tiktoken
pypdf
playwright
nest_asyncio
bs4
libmagic
tesseract
lark
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
tiktoken
wikipedia
fastapi
uvicorn

